.input-text {
  margin-top: 16px;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.input-text_invalid {
  border-bottom: 1px solid #ff0000;
}

.input-text__error {
  margin: 5px 36px;
  display: block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  min-height: 30px;
}
