.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.2s, opacity 0.2s ease-in;
}

.modal.active {
  opacity: 1;
  visibility: visible;
  transition: visibility 0.2s, opacity 0.2s ease-in;
}

.modal__container {
  max-width: 430px;
  width: 100%;
  position: relative;
}

.modal__content {
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 36px;
}

.modal__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  padding-bottom: 16px;
}

.modal__close-icon {
  position: absolute;
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
  cursor: pointer;
  background-image: url('../../assets/images/close.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  border: 0;
  background-color: transparent;
}

.modal__close-icon:hover {
  opacity: 0.6;
  transition: 0.5s;
}

@media screen and (max-width: 540px) {
  .modal__close-icon {
    right: 0;
    background-size: 20px 20px;
  }
}

.modal__button {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.modal__button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.modal__button:disabled {
  background-color: #e5e5e5;
}
